openapi: '3.0.0'
info:
  title: app4event
  version: '1.0'
paths:
  /import:
    post:
      responses:
        200:
          description: OK
components:
  schemas:
    Language:
      type: object
      properties:
        id:
          type: string
          description: Language code, e.g. `cs`
        isDefault:
          type: boolean
        name:
          type: string
      required:
        - isDefault
        - name
        - id
    Link:
      type: object
      properties:
        type:
          type: string
          enum:
            - unknown
            - HTTP
            - FACEBOOK
            - TWITTER
            - YOUTUBE
            - VIMEO
            - SOUNDCLOUD
            - LINKEDIN
            - CSFD
            - IMDB
            - INSTAGRAM
            - SPOTIFY
            - APPLEMUSIC
            - TIKTOK
            - X
        uri:
          type: string
      required:
        - type
    Performer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        title:
          type: string
        description:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        sessionIds:
          type: array
          items:
            type: string
        venueIds:
          type: array
          items:
            type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        # updateTime
      required:
        - id
        - name
        - sessionIds
        - venueIds
    Venue:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        order:
          type: number
        description:
          type: string
        color:
          type: string
          nullable: true
        timelineColor:
          type: string
          nullable: true
        iconUnicode:
          type: string
          nullable: true
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        location:
          $ref: '#/components/schemas/Location'
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/VenueVenueCategory'
      required:
        - id
        - name
        - order
    Session:
      type: object
      properties:
        id:
          type: string
        performerIds:
          type: array
          items:
            type: string
        performerNames:
          type: array
          items:
            type: string
        venueId:
          type: string
        venueName:
          type: string
        name:
          type: string
        description:
          type: string
        timeFrom:
          type: string
        timeTo:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        hasParent:
          type: boolean
        subsessionIds:
          type: array
          items:
            type: string
        likes:
          type: number
        forcedSessionDetail:
          type: boolean
        customIcons:
          type: array
          items:
            $ref: '#/components/schemas/CustomIcon'
      required:
        - id
        - performerIds
        - performerNames
        - venueId
        - venueName
        - timeFrom
        - timeTo
        - hasParent
        - subsessionIds
    CustomField:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    Image:
      oneOf:
        - $ref: '#/components/schemas/ResizinImage'
        - $ref: '#/components/schemas/UriImage'
    ResizinImage:
      type: object
      properties:
        id:
          type: string
      required:
        - id
    UriImage:
      type: object
      properties:
        uri:
          type: string
      required:
        - uri
    Highlight:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        thumbnail:
          $ref: '#/components/schemas/Image'
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        order:
          type: number
      required:
        - id
        - title
        - thumbnail
        - images
        - order
    News:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        body:
          type: string
        time:
          type: string
        isListed:
          type: boolean
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        newsTabId:
          type: array
          items:
            type: string
    DelayedNews:
      allOf:
        - $ref: '#/components/schemas/News'
        - type: object
          properties:
            publishError:
              type: string
    Day:
      type: object
      properties:
        id:
          type: string
        timeFrom:
          type: string
        timeTo:
          type: string
    Location:
      type: object
      properties:
        lat:
          type: number
        lng:
          type: number
    Group:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
            - PERFORMER
            - SESSION
        performerIds:
          type: array
          items:
            type: string
        sessionIds:
          type: array
          items:
            type: string
        description:
          type: string
        order:
          type: number
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
      required:
        - name
        - type
    Tag:
      type: string
    VenueVenueCategory:
      type: object
      description: VenueCategory reference in Venue
      properties:
        id:
          type: string
        name:
          type: string
        color:
          type: string
        iconUnicode:
          type: string
        layout:
          $ref: '#/components/schemas/VenueCategoryLayout'
      required:
        - id
        - name
        - color
        - iconUnicode
        - layout
    VenueCategory:
      type: object
      description: Standalone VenueCategory
      properties:
        id:
          type: string
        name:
          type: string
        color:
          type: string
        iconUnicode:
          type: string
        order:
          type: number
        layout:
          $ref: '#/components/schemas/VenueCategoryLayout'
      required:
        - id
        - name
        - color
        - iconUnicode
        - order
        - layout
    VenueCategoryLayout:
      type: string
      enum:
        - COMPACT
        - LARGE
    CustomIcon:
      type: object
      description: Custom icon for a Session
      properties:
        name:
          type: string
        icon:
          type: string
      required:
        - id
        - name
        - icon
